<div>
  <app-header></app-header>

  <main>
    <ul id="users">
      @for (user of users; track user.id) {
        <li>
          <app-user
            [user]="user"
            [isSelected]="user.id === selectUserId"
            (select)="onSelectUser($event)"
          />
        </li>
      }
    </ul>
    @if (selectedUser) {
      <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
    } @else {
      <p id="fallback">Please select a user to see their tasks.</p>
    }

    <!-- <app-tasks *ngIf="selectedUser" ;else fallback [name]="selectedUser.name" />
    <ng-template #fallback>
      <p>Please select a user to see their tasks.</p>
    </ng-template> -->
  </main>
</div>
